.align-center, .scores-div, .answers-and-chart-div, .chart-div, .all-questions-div {
    display: flex;
    align-items: center;
    min-height: 24em;
    justify-content: center;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
}

.answers-div, .answer-div-one, .answer-div-two, .answer-div-three, .answer-div-four, .winning-answer, .answers-and-chart-div {
    display: flex;
    flex-direction: row;
}

.all-questions-div {
    text-align: left;
    align-items: flex-start;
}

.chart-div {
    /*position: absolute;*/
    margin-right: 0px;
    margin-left: 20px;
}

.scores-div {
    margin-right: 100px;
    margin-left: 100px;
}
.question-text {
    text-align: center;
}
.scores-text {
    text-align: center;
}
.answers-div {
    /*margin-top: 50px;*/
}

.answers-and-chart-div {
    margin-top: 50px;
}

.timer-div {
    margin-top: 40px;
}

.prefix-static-answer {
    margin-right: 15px;
    text-align: left;
    color: #aaaaaa;
}

.dynamic-answer {
    text-align: left;
}

.score-amount-number {
    color: #3498db;
    margin-right: 15px
}

.timer {
    color: #3498db;
    font-weight: 900;
}
.help-text {
    text-align: center;
}

.help-text-highlight {
    color: #f39c12;
}
